<header style="border-style: solid;">
		<h1 style="padding:5;">Akinator</h1>
		<% if @@juego.cont <= @@juego.max  %>
			<h3 style="float:right; padding:5;"><%= @@juego.cont %> / <%= @@juego.max %> </h3>
		<% end %>
		<% if @@juego.cont > @@juego.max  %>
			<h3 style="padding:10;">No mas preguntas Mr/Ms!</h3>
		<% else %>
			<form action="./akinator" method="post" style="padding:5;">
				<select name="pregunta">
					<% @@juego.preguntas.each do |pregunta| %> 
						<option value=<%= pregunta.rasgo %> ><%= pregunta.texto %> </option>
					<% end %>
				</select>
				<input type="submit" value="Posta!?">
			</form>
		<% end %>
		<br>
</header>
	<div style="float:left; border-style: solid; width: 70%">
		<table>
			<tr>
				<% @@juego.personas.each_with_index do |v, i| %>
				<td style="border-style: solid;">
						<p>
							<img width="15%" src="/images/nn.png">
								<a href="/akinator/<%= v.nombre %>">
								<%= v.nombre %>
							</a>
						</p>
							<ul>
								<li><b>Rasgos:</b></li>
								<% v.rasgos.each do |rasgo| %>
									<li><%= rasgo %></li>
								<% end %>
							</ul>
				</td>
					<% if ((i+1) % 4) == 0 %>
				</tr>
				<tr>
					<% end %>
				<% end %>
			</tr>
		</table>
	</div>
	<div style="float:right; border-style: solid; width: 28%; padding:5;">
	<ul>
			<% @@juego.respuestas.each do |respuesta| %> 
				<li><span style="font-weight: bold;"><%=respuesta%></span></li>
			<% end %>
	</ul>
	</div>


